  <style type="text/css">
  .frontpage-banner-link{
  	padding-left: 19px;
  	margin-top: 20px!important;
  }
  .frontpage-banner-link img{
  	
  	margin-top: 20px!important;
  }
  </style>

  <div style="background-color: white; height: 500px; width:420px;display: inline-block;">
  	
  <a class="frontpage-banner-link" href="http://www.uns.org.rs/"><%= image_tag("uns-logo.png") %></a>
  <a class="frontpage-banner-link" href="http://www.cins.rs/srpski"><%= image_tag("cins-logo.png") %></a>
  <a class="frontpage-banner-link" href="http://www.nuns.rs/"><%= image_teg("nuns-logo.gif") %></a>

  </div>
