<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <% if params[:country_name] %>  
   <h1><%= _("Would you like to see a website like this in your country?") %></h1>
  <% else %>
   <h1>Alaveteli</h1>
  <% end %>
  <%= _("about.alaveteli") %>

  <div id="hash_link_padding"></div>
</div>
